@media screen and ( max-width : 425px ) {

  .foods .card {
    box-shadow: 0 0 3px #c6c6c6;
    margin: 2.5vw 0;
    width: 300px;
  }

  .foods .card h5 {
    color: #444;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .foods .card img {
    height: 60vw;
    object-fit: cover;
  }

  .drinks .card {
    box-shadow: 0 0 3px #c6c6c6;
    margin: 2.5vw 0;
    width: 300px;
  }

  .drinks .card h5 {
    color: #444;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .drinks .card img {
    height: 60vw;
    object-fit: cover;
    object-position: top;
  }
}
