.recommendation-card .card {
  border-radius: 1em;
  box-shadow: 0 0 3px #c6c6c6;
  margin: 2.5vw;
  max-width: 200px;
  width: 45vw;
}

.recommendation-card .card img {
  border-radius: 1em;
  width: 100%;
}

.recommendation-card .card h5 {
  color: #444;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.foods .card {
  box-shadow: 0 0 3px #c6c6c6;
  margin: 2.5vw 0;
  width: 200px;
}

.foods .card h5 {
  color: #444;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.foods .card img {
  height: 80%;
  object-fit: cover;
  width: 100%;
}

.drinks .card {
  box-shadow: 0 0 3px #c6c6c6;
  margin: 2.5vw 0;
  width: 200px;
}

.drinks .card h5 {
  color: #444;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.drinks .card img {
  height: 80%;
  object-fit: cover;
  width: 100%;
}
