.login {
  align-items: center;
  background-image: url("../images/recipes-wallpaper.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login form {
  animation: toTop .5s;
  background-color: #fff;
  border-radius: .5em;
  box-shadow: 0 -5px 0 var(--primaryColor),
    0 -10px 0 var(--secondaryColor);
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  width: 90%;
  max-width: 350px;
}

.login form h2 {
  color: #444;
  font-size: 1.2em;
}

.login form span {
  color: #444;
  font-size: .7em;
  font-weight: 100;
}

.login form div {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.login form input {
  border: 1px solid var(--secondaryColor);
  border-radius: .2em;
  font-size: .8em;
  margin: 10px;
  padding: 5px;
}

.login form input:focus {
  outline: none;
}

.login form button {
  align-self: center;
  background-color: var(--secondaryColor);
  border: 0;
  border-radius: 25px;
  color: #fff;
  margin: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

.login form button:disabled {
  background-color: #808080;
  opacity: .2;
  cursor: not-allowed;
}
