.done-favorites-recipes {
  padding-top: 60px;
}

.done-favorites-recipes .filters {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 10px;
}

.done-favorites-recipes .filters button {
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  border-radius: 25px;
  color: white;
  font-size: 0.7em;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  justify-self: center;
}

.done-favorites-recipes .filters button:first-child {
  background: none;
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
}

.card-done-recipe {
  background-color: rgb(246, 246, 246);
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  width: 100%;
  max-width: 400px;
  justify-self: center;
}

.done-favorites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  padding: 40px;
  width: 100%;
}
