.done-favorites-recipes {
  padding: 60px 0;
  min-height: 100vh;
}

.done-favorites-recipes .filters {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 10px;
}

.done-favorites-recipes .filters button {
  background-color: #eee;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 0.7em;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  justify-self: center;
  color: #444;
}

.done-favorites-recipes .filters button:first-child {
  background-color: white;
  border: 2px solid #eee;
}

.done-favorites {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  padding: 40px;
  width: 100%;
}
