header {
  background-color: var(--secondaryColor);
  display: flex;
  font-weight: 100;
  grid-template-columns: 1fr repeat(2, 40px);
  height: auto;
  justify-content: space-between;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

header .profile-button {
  background: none;
  border: none;
  cursor: pointer;
  justify-self: flex-end;
  order: 3;
  padding: 0 10px;
}

header .profile-button svg,
header .search-button svg {
  color: white;
  font-size: 1.3em;
}

header h1 {
  display: none;
}

header span {
  align-items: center;
  align-self: center;
  color: white;
  display: flex;
  font-size: 1.15em;
  font-weight: 100;
  width: 90%;
}

header span svg {
  font-size: 1.5em;
  margin-inline-end: 10px;
}

header .search-button {
  background: none;
  border: none;
  cursor: pointer;
  justify-self: flex-end;
  padding: 0 10px;
}
