@media screen and (max-width: 425px) {
  header {
    display: grid;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 3px 0 var(--primaryColor);
    grid-template-columns: 0.4fr 1fr 0.4fr;
    padding: 10px 20px;
  }

  header span {
    display: none;
    width: auto;
  }

  header .profile-button {
    order: 1;
    justify-self: flex-start;
  }

  header h1 {
    justify-self: center;
    order: 2;
    align-self: center;
    color: white;
    font-size: 1.15em;
    display: flex;
    align-items: center;
    font-weight: 100;
  }

  header .search-button {
    order: 3;
  }
}
