@media screen and ( max-width : 425px ) {
  
  header {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 3px 0 var(--primaryColor);
    display: grid;
    grid-template-columns: .4fr 1fr .4fr;
    padding: 10px 20px;
  }

  header span {
    display: none;
    width: auto;
  }

  header .profile-button {
    justify-self: flex-start;
    order: 1;
  }

  header h1 {
    align-items: center;
    align-self: center;
    color: #fff;
    display: flex;
    font-size: 1.15em;
    font-weight: 100;
    justify-self: center;
    order: 2;
  }

  header .search-button {
    order: 3;
  }
}
