@media screen and ( max-width : 425px ) {
  .explore-foods span, .explore-drinks span {
    background-color: var(--secondaryColor);
    border-radius: 0 0 1em 1em;
    color: white;
    padding: 5px 20px;
    width: 100%;
  }

  .explore-drinks {
    background-image: url('../images/drink-card.jpeg');
  }
}
