.explore {
  align-content: center;
  align-items: center;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, 300px);
  height: 100vh;
  justify-content: center;
  justify-items: center;
  padding: 80px 20px;
}

.explore-foods,
.explore-drinks {
  align-items: flex-end;
  animation: toTop 1s;
  background-image: url("../images/food-card.jpg");
  background-size: cover;
  border-radius: 1em;
  border: none;
  box-shadow: 0 4px 0 var(--secondaryColor), 0 0 5px #e1e1e1;
  cursor: pointer;
  display: flex;
  height: 200px;
  width: 100%;
}

.explore-foods span,
.explore-drinks span {
  background-color: var(--secondaryColor);
  border-radius: 0 0 1em 1em;
  color: #fff;
  padding: 5px 20px;
  width: 100%;
}

.explore-drinks {
  background-image: url("../images/drink-card.jpeg");
}
