.foods-explore {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, 300px);
  padding: 80px 20px;
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.foods-explore button {
  align-items: flex-end;
  animation: toTop 1s;
  background-size: cover;
  border: none;
  border-radius: 1em;
  box-shadow: 0 4px 0 var(--secondaryColor), 0 0 5px #e1e1e1;
  display: flex;
  height: 100px;
  width: 100%;
  cursor: pointer;
}

.foods-explore span {
  color: #444;
  padding: 10px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foods-explore .image-ingredient {
  background-image: url("../images/ingredients.jpg");
  background-size: cover;
  border-radius: .5em;
  height: 100px;
  width: 40%;
}

.foods-explore .image-nationality {
  background-image: url("../images/nationality.jpg");
  background-size: cover;
  border-radius: .5em;
  height: 100px;
  width: 50%;
}

.foods-explore .image-surprise {
  background-image: url("../images/surprise.jpg");
  background-size: cover;
  border-radius: .5em;
  height: 100px;
  width: 40%;
}
