@media screen and ( max-width : 425px ) {

  .foods-explore button {
    align-items: center;
    animation: toRight 1s;
    background-color: #eee;
    border-radius: .5em;
    border: 1px solid #dedede;
    justify-content: space-between;
    width: 80vw;
  }

  .foods-explore button:nth-child(2) {
    animation: toLeft 1s;
    flex-direction: row-reverse;
  }
}
