@keyframes toRight {
  0% {
    opacity: 0%;
    transform: translateX(-10px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes toLeft {
  0% {
    opacity: 0%;
    transform: translateX(10px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.foods-explore {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  padding: 80px 20px;
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.foods-explore button {
  align-items: flex-end;
  animation: toTop 1s;
  background-size: cover;
  border: none;
  border-radius: 1em;
  box-shadow: 0 4px 0 var(--secondaryColor), 0 0 5px rgb(225, 225, 225);
  display: flex;
  height: 100px;
  width: 100%;
  cursor: pointer;
}

.foods-explore span {
  color: #444;
  padding: 10px;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foods-explore .image-ingredient {
  background-image: url("../images/ingredients.jpg");
  background-size: cover;
  border-radius: 0.5em;
  height: 100px;
  width: 40%;
}

.foods-explore .image-nationality {
  background-image: url("../images/nationality.jpg");
  background-size: cover;
  border-radius: 0.5em;
  height: 100px;
  width: 40%;
}

.foods-explore .image-surprise {
  background-image: url("../images/surprise.jpg");
  background-size: cover;
  border-radius: 0.5em;
  height: 100px;
  width: 40%;
}
