.recommendation-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 0;
  max-height: 400px;
  overflow-x: scroll;
  width: 100%;
}

.recommendation-card a {
  text-decoration: none;
}
