@media screen and ( max-width : 425px ) {

  .recommendation-card {
    display: flex;
    margin: 10px 0;
    overflow-x: scroll;
    width: 100vw;
  }

  .recommendation-card a {
    text-decoration: none;
  }

  .recommendation-card .card {
    border-radius: 1em;
    box-shadow: 0 0 3px #c6c6c6;
    margin: 2.5vw;
    width: 45vw;
  }

  .recommendation-card .card img {
    border-radius: 1em;
    width: 45vw;
  }

  .recommendation-card .card h5 {
    color: #444;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
