.drinks-explore-ingredients {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  padding: 80px 20px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  grid-gap: 20px;
}

.drinks-explore-ingredients button {
  background-color: whitesmoke;
  border: none;
  border-radius: 0.5em;
  padding: 10px;
  height: 150px;
  cursor: pointer;
  width: 100%;
}

.drinks-explore-ingredients button img {
  width: 90%;
}

.drinks-explore-ingredients button h5 {
  color: #444;
  margin: 10px 0;
}
