.food-details {
  align-items: center;
  background-image: url("../../../patterns/i-like-food.svg");
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

.food-details > div {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px #e1e1e1;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
}

.food-details .back-button {
  background: #fff;
  border: none;
  border-bottom-right-radius: 25px;
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 1.5em;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.food-details .recipe-photo {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 5px 0 var(--primaryColor),
    0 10px 0 var(--secondaryColor);
  height: 50vh;
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%;
}

.food-details .share-and-favorites {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: absolute;
  top: 46vh;
  width: 100%;
}

.food-details .share-btn, .food-details .favorite-btn {
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(201, 201, 201);
  color: var(--secondaryColor);
  cursor: pointer;
  font-size: 1em;
  height: 50px;
  margin: 6px;
  width: 50px;
}

.food-details .share-and-favorites button span,
.food-details .share-and-favorites button svg,
.food-details .start-recipe-btn span, 
.food-details .start-recipe-btn svg {
  margin: 0 5px;
}

.food-details .share-and-favorites button svg {
  font-size: 1.3em;
}

.food-details .title-and-category {
  padding: 40px 30px 20px;
  width: 100%;
}

.food-details h2 {
  color: #444;
  font-weight: 100;
}

.food-details h4 {
  color: var(--primaryColor);
  font-size: .8em;
  font-style: italic;
  font-weight: 100;
}

.food-details .ingredients {
  background-color: var(--secondaryColor);
  border: none;
  border-radius: .5em;
  color: #fff;
  font-family: sans-serif;
  font-size: .8em;
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
}

.food-details .ingredients ul {
  line-height: 1.8em;
  padding: 5px 40px;
}

.food-details .instructions {
  color: #444;
  font-weight: 100;
  padding: 30px;
  width: 100%;
}

.food-details .instructions h5 {
  color: #444;
  font-weight: 800;
  padding: 10px 0 20px 0;
}

.food-details .instructions p {
  font-size: .8em;
}

.food-details iframe {
  margin: 20px 0;
  width: 80%;
}

.food-details .start-recipe-btn {
  align-items: center;
  background-color: var(--primaryColor);
  border: none;
  border-radius: 25px;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  max-width: 200px;
  padding: 10px;
  position: fixed;
  width: 90%;
}

.food-details .start-recipe-btn svg {
  font-size: 1.5em;
}
