@media screen and ( max-width : 425px ) {

  .drinks {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .drinks .categories {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 10px;
  }

}
