@font-face {
  font-family: product sans;
  src: url('./fonts/product-sans/Product\ Sans\ Regular.ttf');
}

@keyframes toTop {

  0% {
    opacity: 0%;
    transform: translateY(10px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes toBottom {

  0% {
    opacity: 0%;
    transform: translateY(-10px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes toLeft {

  0% {
    opacity: 0%;
    transform: translateX(10px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes toRight {

  0% {
    opacity: 0%;
    transform: translateX(-10px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

* {
  font-family: product sans, sans-serif;
  font-weight: 100;
}

.desktop-title-page {
  padding: 40px;
  color: var(--primaryColor);
  font-size: 2em;
}

@media screen and (max-width: 425px) {
  .desktop-title-page {
    display: none;
  }
}