.drink-progress {
  align-items: center;
  background-image: url("../../../patterns/i-like-food-red.svg");
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

.drink-progress > div {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px #e1e1e1;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
}

.drink-progress .back-button {
  background: #fff;
  border: none;
  border-bottom-right-radius: 25px;
  color: var(--alternativePrimary);
  cursor: pointer;
  font-size: 1.5em;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.drink-progress .recipe-photo {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 5px 0 var(--alternativePrimary), 0 10px 0 var(--alternativeSecondary);
  height: 50vh;
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%;
}

.drink-progress .share-and-favorites {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  position: absolute;
  top: 46vh;
  width: 100%;
}

.drink-progress .share-btn, .drink-progress .favorite-btn {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px #c9c9c9;
  color: var(--alternativeSecondary);
  cursor: pointer;
  font-size: 1em;
  height: 50px;
  margin: 6px;
  width: 50px;
}

.drink-progress .share-and-favorites button span,
.drink-progress .share-and-favorites button svg,
.drink-progress .start-recipe-btn span,
.drink-progress .start-recipe-btn svg {
  margin: 0 5px;
}

.drink-progress .share-and-favorites button svg {
  font-size: 1.3em;
}

.drink-progress .title-and-category {
  padding: 40px 30px 20px;
  width: 100%;
}

.drink-progress h2 {
  color: #444;
  font-weight: 100;
}

.drink-progress h4 {
  color: var(--alternativePrimary);
  font-size: .8em;
  font-style: italic;
  font-weight: 100;
}

.drink-progress .ingredients {
  background-color: var(--alternativeSecondary);
  border: none;
  border-radius: .5em;
  color: #fff;
  font-family: sans-serif;
  font-size: .8em;
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
}

.drink-progress .ingredients ul {
  line-height: 1.8em;
  list-style: none;
  padding: 5px 40px;
}

.drink-progress .ingredients label {
  align-items: center;
  display: flex;
}

.drink-progress .ingredients input {
  margin-inline-end: 10px;
}

.drink-progress .instructions {
  color: #444;
  font-weight: 100;
  padding: 30px;
  width: 100%;
}

.drink-progress .instructions h5 {
  color: #444;
  font-weight: 800;
  padding: 10px 0 20px 0;
}

.drink-progress .instructions p {
  font-size: .8em;
}

.drink-progress .finish-recipe-btn {
  align-items: center;
  background-color: var(--alternativePrimary);
  border: none;
  border-radius: 25px;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  max-width: 200px;
  padding: 10px;
  position: fixed;
  width: 90%;
}

.drink-progress .finish-recipe-btn:disabled {
  opacity: 0;
}

.drink-progress .start-recipe-btn svg {
  font-size: 1.5em;
}
