.card-done-recipe {
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 5px #e6e6e6;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  margin: 10px;
  width: 260px;
  padding: 15px;
  position: relative;
}

.card-done-recipe > section {
  width: 100%;
}

.card-done-recipe a {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  text-decoration: none;
}

.card-done-recipe a > img {
  height: 100%;
  object-fit: cover;
}

.card-done-recipe a > section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
}

.card-done-recipe a > section > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card-done-recipe a > section > div span {
  color: #b1b1b1;
}

.card-done-recipe a > section span,
.card-done-recipe a > section h2 {
  padding: 6px 0;
}

.card-done-recipe a h2 {
  color: var(--primaryColor);
  font-size: 1em;
  font-weight: 100;
}

.card-done-recipe .done-favorite-category {
  font-size: .8em;
  font-style: italic;
  color: #b1b1b1;
}

.card-done-recipe a span {
  color: #444;
  font-size: .7em;
}

.tags-section {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.tags-section span {
  margin-right: 10px;
}

.card-done-recipe .buttons {
  display: flex;
}

.card-done-recipe .share-btn, .favorite-btn {
  align-items: center;
  background: none;
  border: none;
  color: var(--primaryColor);
  cursor: pointer;
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top: 10px;
  padding: 5px;
  width: 50%;
}

.card-done-recipe .share-btn span {
  font-size: .6em;
}

.card-done-recipe .favorite-btn {
  color: var(--alternativeSecondary);
  margin-left: 5px;
  margin-right: 0;
}
