.drinks-explore {
  align-content: center;
  align-items: center;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, 300px);
  height: 100vh;
  justify-content: center;
  justify-items: center;
  padding: 80px 20px;
}

.drinks-explore button {
  align-items: flex-end;
  animation: toTop 1s;
  background-size: cover;
  border: none;
  border-radius: 1em;
  box-shadow: 0 4px 0 var(--secondaryColor), 0 0 5px #e1e1e1;
  cursor: pointer;
  display: flex;
  height: 100px;
  width: 100%;
}

.drinks-explore span {
  align-items: center;
  color: #444;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 10px;
  width: 50%;
}

.drinks-explore .image-ingredient, .drinks-explore .image-surprise {
  background-position: center;
  background-size: cover;
}

.drinks-explore .image-ingredient {
  background-image: url("../images/ingredients.jpg");
  background-size: cover;
  border-radius: .5em;
  height: 100px;
  width: 50%;
}

.drinks-explore .image-surprise {
  background-image: url("../images/surprise.jpg");
  background-size: cover;
  border-radius: .5em;
  height: 100px;
  width: 50%;
}
