.drinks-explore {
  align-content: center;
  align-items: center;
  background-image: url(../../../patterns/i-like-food.svg);
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, 300px);
  min-height: 100vh;
  justify-content: center;
  justify-items: center;
  padding: 80px 20px;
}

.drinks-explore button {
  align-items: flex-end;
  animation: toTop 1s;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 3px #c6c6c6;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
}

.drinks-explore .image-ingredient,
.drinks-explore .image-nationality,
.image-surprise {
  background-image: url(../images/ingredients.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.drinks-explore .image-surprise {
  background-image: url(../images/surprise.jpg);
}

.drinks-explore span {
  color: #444;
  font-size: 1.2em;
  padding: 15px;
  text-align: left;
  width: 100%;
}
