@media screen and ( max-width : 425px ) {

  .drinks-explore button {
    align-items: center;
    background-color: #eee;
    border: 1px solid #dedede;
    border-radius: .5em;
    justify-content: space-between;
    width: 80vw;
  }

  .drinks-explore button:nth-child( 2 ) {
    flex-direction: row-reverse;
  }
}
